!!! 5
%html
  %head
    %title= BRAND
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'shared/header'
    #main.container-fluid
      .row-fluid
        .span2
          = render 'shared/sidebar'
        #content.span10
          = yield